*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;

    display: grid;
    place-items: center;
}

.container{
    width: 600px;
}

.progress{
    width: 600px;
    height: 20px;
    background-color: #ddd;

    margin-bottom: 20px;
}

.progress .progress-bar{
    width: 0;
    height: inherit;
    background-color: forestgreen;

    position: relative;
}

.progress .progress-bar::before{
    content: attr(data-inc);
    color: #fff;

    position: absolute;
    top: 0;
    right:5px;
}